 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
        <div class="container">
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li ui-sref-active="active"><a ui-sref="root.home">Home</a></li> 
                    <li class="dropdown" ng-show="vm.hasAuthorize">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Authorize <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li ui-sref-active="active"><a ui-sref="root.WidgetViewNav">Widget View Rights</a></li> 
                              <li ui-sref-active="active"><a ui-sref="root.userInRoles">User In Roles</a></li> 
                            
                          </ul>
                    </li>
                   <li ui-sref-active="active"><a ui-sref="root.Person">Person File Upload Sample</a></li> 
                     <li ui-sref-active="active"><a ui-sref="root.DemoNav">DemoMenu1</a></li> 
                </ul>
              	<ul class="nav navbar-nav navbar-right">
                   <li data-ng-show="vm.authentication.isAuth" ui-sref-active="active">
                     <a href="#">Welcome {{vm.authentication.userName}}!</a></li>
                   <li data-ng-show="!vm.authentication.isAuth" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        		   <li data-ng-show="!vm.authentication.isAuth" ui-sref-active="active"><a ui-sref="signup">Signup</a></li>
                   <li data-ng-show="vm.authentication.isAuth" ui-sref-active="active"><a href="" data-ng-click="vm.logOut()">Log off</a></li>
    			</ul>
            </div>
        </div>
    </div>
<br>
<div>Change Country <select ng-model="vm.COUNTRY_ID" jwt-filter ng-options="item.id as item.country for item in vm.countryList">
    
</select>
</div>
<div ui-view></div>
