<?xml version="1.0" encoding="utf-8"?>
<jwtApp xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>app</Name>
  <UILayouts>
    <Layout>
      <LayoutName>root</LayoutName>
      <Abstract>true</Abstract>
      <_id>0b4165cf-03de-44dd-9abd-6c5fcf9a0795</_id>
    </Layout>
    <Layout>
      <LayoutName>complex</LayoutName>
      <Abstract>false</Abstract>
      <_id>c80e316e-35d6-47b4-a721-91e011493e9e</_id>
    </Layout>
  </UILayouts>
  <UINavigations>
    <Navigation>
      <_id>8f03b460-7412-4590-adf2-e14b9cdcd365</_id>
      <NavigationName>home</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>home</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>a1cf6e43-e488-4bdb-9f90-7d4913fb550f</_id>
      <NavigationName>login</NavigationName>
      <WidgetName>login</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>289644d2-99bf-4ee1-a0eb-af9616cfa082</_id>
      <NavigationName>signup</NavigationName>
      <WidgetName>signup</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>76f71e82-786c-4fab-9f16-139f262859a9</_id>
      <NavigationName>associate</NavigationName>
      <WidgetName>associate</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>552e1280-8433-4c4b-961d-8a7501c00624</_id>
      <NavigationName>chartNav</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>chatWidget</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>f61e3c3e-0b85-4d9e-be35-66090367a99e</_id>
      <NavigationName>WidgetViewNav</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>WidgetViewRights</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>c037e301-80d5-47dc-9f8e-e814178373c7</_id>
      <NavigationName>userInRoles</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>userInRoles</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>ee95e93e-95c9-4040-8076-e163b75a047b</_id>
      <NavigationName>Person</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>Person</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>987cfae1-674a-4ac9-b836-a59097d07a79</_id>
      <NavigationName>products</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>Products</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>fb5cad07-ee6d-4d45-adac-d185cafc2d1d</_id>
      <NavigationName>DemoNav</NavigationName>
      <HasLayout>root</HasLayout>
      <WidgetName>DemoWidget</WidgetName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>81bb90a0-ec44-4af3-aabf-4bf24004840b</_id>
      <NavigationName>CrudNav</NavigationName>
      <UIViews />
    </Navigation>
    <Navigation>
      <_id>859c4e1d-aaa6-4bd0-b15d-296e98b79f86</_id>
      <NavigationName>complexNav</NavigationName>
      <HasLayout>complex</HasLayout>
      <UIViews>
        <View>
          <ViewName>leftWidget</ViewName>
          <WidgetName>DemoWidgetCrud</WidgetName>
        </View>
        <View>
          <ViewName>rightWidget</ViewName>
          <WidgetName>DemoWidgetCrud</WidgetName>
        </View>
      </UIViews>
    </Navigation>
  </UINavigations>
</jwtApp>